# Pinning newer versions of numba and librosa to avoid build errors
# with llvmlite on modern Python versions.
numba>=0.59.0
librosa>=0.10.0

descript-audio-codec==1.0.0
gradio>=5.25.2
huggingface-hub>=0.30.2
numpy>=2.2.4
pydantic>=2.11.3
safetensors>=0.5.3
soundfile>=0.13.1
triton==3.2.0 ; sys_platform == 'linux'
triton-windows==3.2.0.post18 ; sys_platform == 'win32'